{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.12.1"}
        org.clojure/data.json {:mvn/version "2.5.1"}}
 :aliases
 {:http {:extra-deps {http-kit/http-kit {:mvn/version "2.8.0"}}}
  :server {:extra-deps {http-kit/http-kit {:mvn/version "2.8.0"}}
           :main-opts ["-m" "ag-ui.server"]}
  :client {:extra-deps {http-kit/http-kit {:mvn/version "2.8.0"}}
           :main-opts ["-m" "ag-ui.client"]}
  :conformance {:extra-paths ["test"]
                :extra-deps {http-kit/http-kit {:mvn/version "2.8.0"}
                             org.clojure/test.check {:mvn/version "1.1.1"}
                             com.networknt/json-schema-validator {:mvn/version "1.5.8"}}
                :main-opts ["-m" "ag-ui.conformance.cli"]}
  :test {:extra-paths ["test"]
         :extra-deps {http-kit/http-kit {:mvn/version "2.8.0"}
                      org.clojure/test.check {:mvn/version "1.1.1"}
                      com.networknt/json-schema-validator {:mvn/version "1.5.8"}
                      io.github.cognitect-labs/test-runner
                      {:git/url "https://github.com/cognitect-labs/test-runner"
                       :git/tag "v0.5.1"
                       :git/sha "dfb30dd"}}
         :main-opts ["-m" "cognitect.test-runner"]
         :exec-fn cognitect.test-runner.api/test}}}
